img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    margin: auto;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#GPAForm {
    margin: auto;
    width: 100%;
    padding: 10px;
}

#footer-insides {
    margin: auto;
    width: 30%;
    padding: 10px;
}

/* Style for the navbar on the home page */
#navBar {
    margin: 20px 0 20px 0;
    padding: 10px;
    padding-left: 50px;
    background-color: lightblue;
}

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.floatRight {
    float: right;
}

#kittens-body {
    padding: 15px;
}